@charset "utf-8";
p {
    color:#36a93b;
}
.footer-001 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 10px 10px;
    background-color: #0070cc;
}

.footer-001__logo {
    width: 160px;
    height: 40px;
}

.footer-001__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1.5em;
    list-style-type: none;
    margin: 0 0 .5em;
    padding: .5em;
}

.footer-001__link {
    color: #fff;
    font-weight: 200;
    text-decoration: none;
}

.footer-001__copyright {
    margin: 0;
    color: #ffffffb3;
    font-weight: 200;
    font-size: .8em;
}

.header {
    width: 160px;
    height: 40px;
}

.list-11 {
    list-style-type: disc;
    padding: 1em 1em 1em 2.5em;
    border-left: 5px solid #2589d0;
    background-color: #f2f2f2;
}

.list-11 li {
    padding: .3em .3em .3em 0;
}

.list-11 li::marker {
    color: #2589d0;
    font-size: 1.1em;
}